@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />

    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <div class="text-center">
        <h1 class="display-4">Welcome to Birthday Card Generator</h1>
        <p>Click <a href="/home/CardPage1">here</a> to generate a personalized card for your loved once!</p>
        
    </div>
