
@model Admin

@{
    Layout = "_basicLayout";
}
<head>
 <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" ></script> 
 <script type="text/javascript" src="/js/header.js" ></script> 
 </head>



<form  asp-action="Login">
  

  <div class="container">
    <label for="AdminUserName"><b>Username</b></label>
    <br />
    <input type="text" placeholder="Enter Username" name="AdminUserName" required>
    <br />
    <label for="AdminPassword"><b>Password</b></label>
    <br />
    <input type="password" placeholder="Enter Password" name="AdminPassword" required>
      <br />
      <div>
      <label class="text-danger">@Html.DisplayFor(model => model.LoginErrorMessage)</label> 
      @*field-validation-error*@
      
  </div>
    <br />
    <button type="submit">Login</button>
      <br />
    
  </div>
 
  
</form>
<div>
    <a asp-action="Index" asp-controller="Home">Back</a>
</div> 

 
   