
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Browse</title>
     <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" ></script> 
</head>
<body>
  <a class="btn btn-secondary" asp-action="BrowseBooks" role="button" asp-route-value = "all">All Books</a>
    <a class="btn btn-secondary" asp-action="BrowseBooks" role="button" asp-route-value = "Anthropology-Religion">Anthropology-Religion</a>
      <a class="btn btn-secondary" asp-action="BrowseBooks" role="button" asp-route-value = "Antiquities">Antiquities</a>
        <a class="btn btn-secondary" asp-action="BrowseBooks" role="button" asp-route-value = "Art">Art</a>
          <a class="btn btn-secondary" asp-action="BrowseBooks" role="button" asp-route-value = "Borderlands">Borderlands</a>
            <a class="btn btn-secondary" asp-action="BrowseBooks" role="button" asp-route-value = "Capitalism">Capitalism</a>
            <a class="btn btn-secondary" asp-action="BrowseBooks" role="button" asp-route-value = "Food">Food</a>
             <a class="btn btn-secondary" asp-action="BrowseBooks" role="button" asp-route-value = "Film">Film</a>
              <a class="btn btn-secondary" asp-action="BrowseBooks" role="button" asp-route-value = "Sports">Sports</a>
               <a class="btn btn-secondary" asp-action="BrowseBooks" role="button" asp-route-value = "Sports">TV</a>
</body>
</html>
